.organism-content-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  align-items: start;
}

.organism-content-grid--gap-sm {
  gap: 1rem;
}

.organism-content-grid--gap-md {
  gap: 1.5rem;
}

.organism-content-grid--gap-lg {
  gap: 2rem;
}
